.home {
  background-image: url(../logo.jpg);
  background-repeat: no-repeat;
  background-position:  center center;
  background-color: #455a64;
  color: #eceff1;
  height: 91vh;
}

span.MuiCheckbox-root {
  color: rgba(0, 0, 0, 0.4);
}

.MuiInputBase-root {
  background-color: white;
}